@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: 'Space Grotesk', sans-serif;
 }

 .special-font {
    font-family: 'Anek Gurmukhi', sans-serif;
    font-weight: 200;
 }
