@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html{
   scroll-behavior: smooth;
}
body {
    font-family: 'Space Grotesk', sans-serif;
 }

 .title-font {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
 }

 .special-font {
    font-family: 'Anek Gurmukhi', sans-serif;
    font-weight: 200;
 }
